body {
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height: 100vh;
    background: #282525;
    color: #eeece9;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.holder {

}

.entry {
    background: rgba(59, 74, 107, .4);
}

#entryHolder {


}

#date {

}

#temp {

}

#content {

}

.headline {

}

.title {

}

.holder.feel {
    display: inline-grid;
}

.warn-container {
    margin-right: 99px;
    background-color: #f44336;
    color: white;

}

.warning {
    color: white;
    transition: 0.3s;
    max-width: 500px;


}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
    display: block;
    font-size: 27px;
}

input {
    display: block;
    height: 60px;
    width: 320px;
    background: #ececec;
    color: #070707;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button {
    display: block;
    max-width: 500px;
    height: 50px;
    background: #1c5cd7;
    color: #f6f6f6;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;

}

button:hover {
    background-color: #02215e;
}

button:active {
    background-color: #010c28;
    box-shadow: 2px 0px #101d2f;
    transform: translateX(5px);
}

h1 {
    font-size: 36px;
}

textarea {
    background: #f5f5f5;
    color: #000000;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
    color: #070707;
    font-family: 'Oswald', sans-serif;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #000000;
    font-family: 'Oswald', sans-serif;

}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #000000;
    font-family: 'Oswald', sans-serif;

} 